html {
    background: url(field.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.football {
    background-image: url(football2.png);
    z-index: 1;
    position: absolute;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    left: 45%;
    right: 0;
    bottom: 0;
}
h1 {
    z-index: 5;
}

.wrapper {
    height: 100%;
    width: 100%;

}